<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=form, initial-scale=1.0" />
    <title>Add Names</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Add Names to Database</h1>
      <form action="/" method="POST">
        <label for="form">Name</label>
        <input type="text" id="form" name="name" />
        <label for="age">Age</label>
        <input type="number" id="age" name="age" />
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
